header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}

.navbarBg {
  background-color: #334b63; 
}

.headerBg {
  background-color: #E7762B !important;
}
.fontPlayfairBold {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

.fontPlayfairReg {
  font-family: 'Playfair Display', serif;
}

.fontRalewayReg {
  font-family: 'Raleway', sans-serif;
}
.fontRalewaySemi {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

.fontYellow {
  color: #EE6C6A !important;
}

.borderBox {
  border: 1px solid red;
}

.iconsMargin {
  margin: 5px;
}